

<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">

<footer class = "bg-dark text-white pt-5 pb-4">
    <div class="container text-center text-md-left">

        <div class="row text-center text-md-left">

            <div class='col-md-3 col-lg-3 col-xl-3 mx-auto mt-3'>
                <h5 class="text-uppercase mb-4 font-weight-bold text-warning">О нас</h5>
                <p>Тез Билет — крупнейший поисковик авиабилетов в Кыргызстане. Мы сравниваем все доступные варианты перелётов по вашему запросу, а потом направляем вас для покупки на официальные сайты авиакомпаний и агентств.
                    Стоимость авиабилета, которую вы видите на Тез Билет — финальная. Мы убрали все скрытые услуги и галочки.</p>
            </div>

            <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mt-3">
                <h5 class="text-uppercase mb-4 font-weight-bold text-warning"> Сервисы</h5>
                <p>
                    <a href="https://c24.travelpayouts.com/click?shmarker=120716&promo_id=519&source_type=link&type=click&trs=36605" class="text-white" style="text-decoration:none;">Страхование</a>
                </p>

                <p>
                    <a href="https://c102.travelpayouts.com/click?shmarker=120716&promo_id=2958&source_type=link&type=click&trs=36605" class="text-white" style="text-decoration:none;">Сим карты</a>
                </p>

                <p>
                    <a href="https://c10.travelpayouts.com/click?shmarker=120716.120716&promo_id=2022&source_type=link&type=click&trs=36605" class="text-white" style="text-decoration:none;">Прокат авто</a>
                </p>

                <p>
                    <a href="https://c57.travelpayouts.com/click?shmarker=120716.120716&promo_id=1669&source_type=link&type=click&trs=36605" class="text-white" style="text-decoration:none;">Прокат велосипедов</a>
                </p>

                <p>
                    <a href="https://c86.travelpayouts.com/click?shmarker=120716.120716&promo_id=2103&source_type=link&type=click&trs=36605" class="text-white" style="text-decoration:none;">Юридическая помощь</a>
                </p>

            </div>


            <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mt-3">
                <h5 class="text-uppercase mb-4 font-weight-bold text-warning">Туры</h5>
                <p>
                    <a href="https://kruiz-online.tp.st/UzfsTOEA" class="text-white" style="text-decoration:none;">Морские круизы</a>
                </p>

                <p>
                    <a href="https://c140.travelpayouts.com/click?shmarker=120716.120716&promo_id=4338&source_type=link&type=click&trs=36605" class="text-white" style="text-decoration:none;">Пакет туры</a>
                </p>

                <p>
                    <a href="https://tp.media/r?marker=120716.120716&trs=36605&p=654&u=https%3A%2F%2Fweatlas.com%2F" class="text-white" style="text-decoration:none;">Экскурсии</a>
                </p>

                <p>
                    <a href="https://c140.travelpayouts.com/click?shmarker=120716.120716&promo_id=4338&source_type=link&type=click&trs=36605" class="text-white" style="text-decoration:none;">Свадебные туры</a>
                </p>

                <p>
                    <a href="https://c140.travelpayouts.com/click?shmarker=120716.120716&promo_id=4338&source_type=link&type=click&trs=36605" class="text-white" style="text-decoration:none;">Туры в Анталью</a>
                </p>

                <p>
                    <a href="https://c140.travelpayouts.com/click?shmarker=120716.120716&promo_id=4338&source_type=link&type=click&trs=36605" class="text-white" style="text-decoration:none;">Туры в ОАЭ</a>
                </p>

                <p>
                    <a href="https://c22.travelpayouts.com/click?shmarker=120716.120716&promo_id=201&source_type=link&type=click&trs=36605" class="text-white" style="text-decoration:none;">Трансферы</a>
                </p>

            </div>

            <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mt-3">
                <h5 class="text-uppercase mb-4 font-weight-bold text-warning">Контакты</h5>
                <!---<p>
                    <i class="fas fa-home mr-3"></i>ул. К. Датка 597, г.Ош
                </p> --->

                <p>
                    <i class="fas fa-envelope mr-3"></i>tezbilet@gmail.com
                </p>

                <p>
                    <i class="fas fa-phone mr-3"></i>+996 755 05 75 01
                </p>
                <hr>
                <p>

                    <a href="{% url 'privacy' %}" class="mb-4 font-weight-bold text-warning" style="text-decoration:none;">Правила</a>
                </p>

                <p>
                    <a href="{% url 'refund'  %}" class="mb-4 font-weight-bold text-warning" style="text-decoration:none;">Возврат авиабилетов</a>
                </p>

            </div>

        </div>

        <hr class="mb-4">

        <div class="row align-items-center">
            <div class="col-md-7 col-lg-8">
                <p> Copyright 2020 All rights reserved by:
                    <a href="http://www.vadisoft.kg/" style="text-decoration:none;">
                        <strong class="text-warning">Vadi Soft</strong>
                    </a>
                </p>
            </div>


            <div class="col-md-5 col-lg-4">
                <div class="text-center text-md-right">
                    <ul class="list-unstyled list-inline">
                        <li class="list-inline-item">
                            <a class="nav-link active" aria-current="page" href="https://www.facebook.com/profile.php?id=61552787621121"><i class="bi bi-facebook"></i></a>
                        </li>

                    
                        <li class="list-inline-item">
                            <a class="nav-link active" aria-current="page" href="https://c135.travelpayouts.com/click?shmarker=120716.120716&promo_id=4070&source_type=link&type=click&trs=36605"><i class="bi bi-instagram"></i></a>
                        </li>

                        <li class="list-inline-item">
                            <a class="nav-link active" aria-current="page" href="https://play.google.com/store/apps/details?id=ru.air.tezbilet&pli=1"><i class="bi bi-google-play"></i></a>
                        </li>

                        <!--- <li class="list-inline-item">
                            <a class="nav-link active" aria-current="page" href="https://play.google.com/store/apps/details?id=ru.air.tezbilet&pli=1"><i class="bi bi-whatsapp"></i></a>
                        </li>

                        <li class="list-inline-item">
                            <a class="nav-link active" aria-current="page" href="https://play.google.com/store/apps/details?id=ru.air.tezbilet&pli=1"><i class="bi bi-telegram"></i></a>
                        </li> --->


                    </ul>
                </div>
        </div>
    </div>
    </div>