<nav class="navbar navbar-expand-lg navbar navbar-dark bg-primary">

  <div class="container-fluid">
    <a class="navbar-brand" href="{% url 'index' %}">Главная</i></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="{% url 'about' %}">О нас</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="{% url 'article:articles' %}">Блог</a>
        </li>
        <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="https://c135.travelpayouts.com/click?shmarker=120716.120716&promo_id=4070&source_type=link&type=click&trs=36605">ЖД Билеты</a>
        </li>
      </ul>

      <ul class="navbar-nav ml-auto">

        <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="https://www.facebook.com/profile.php?id=61552787621121"><i class="bi bi-facebook"></i></a>
        </li>

        <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="https://c135.travelpayouts.com/click?shmarker=120716.120716&promo_id=4070&source_type=link&type=click&trs=36605"><i class="bi bi-instagram"></i></a>
        </li>

        <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="https://play.google.com/store/apps/details?id=ru.air.tezbilet&pli=1"><i class="bi bi-google-play"></i></a>
        </li>

        <!--- <li class="list-inline-item">
            <a class="nav-link active" aria-current="page" href="https://play.google.com/store/apps/details?id=ru.air.tezbilet&pli=1"><i class="bi bi-whatsapp"></i></a>
        </li>

        <li class="list-inline-item">
            <a class="nav-link active" aria-current="page" href="https://web.telegram.org/@Akhmedov_124"><i class="bi bi-telegram"></i></a>
        </li> --->

      </ul>
    </div>
  </div>
</nav>
