{% extends "layout.html" %}
{% block title %} | О нас{% endblock %}
{% block body%}

    <div  style="background-color: #f3f5f7;">
        <h3 style="margin-top:50px; text-align:center; margin-bottom:50px;"><br>Как мы работаем</h3>
        <div style = "margin-bottom:50px; padding-left: 60px; padding-right: 60px; font-size:20px; font-family:sans-serif;">


            <p style="line-height:30px; margin-top:40px;"><b>Tezbilet.kg не занимается продажей авиабилетов.</b> Наша основная задача - помочь вам найти лучшее из того, что предлагают наши надежные партнеры по всему миру. Сам процесс покупки происходит на веб-сайте нашего партнера, чье предложение вам больше всего понравится.</p>
            <p>Tezbilet.ru не делает наценок и не берет комиссии и вознаграждения со своих пользователей. Свои комиссионные мы получаем, непосредственно, от наших партнеров, за то, что привлекаем клиентов на их веб-сайты.</p>
            <p>Мы сотрудничаем с огромным количеством агентств по всему миру и можем предложить широкий спектр маршрутов, различных акций и скидок. Прямая связь с авиакомпаниями и агентствами позволяет нам моментально обновлять тарифы и специальные предложения.</p>
            <p>Наши партнеры – это компании с высокой репутацией, доказавшие свою надежность и высокий профессионализм. Мы очень ценим доверие наших клиентов, без которого невозможен наш собственный рост. Поэтому, мы всегда тщательно отбираем компании, с которыми заключаем партнерство.</p>
            <p><b>Если у вас имеются вопросы по поводу приобретенных авиабилетов</b> или нужно внести какие-то изменения (сдать/обменять), рекомендуем обратиться к представителям компании, у которой был заказан билет.</p>
            <br><br><br>

            <h2 style="text-align:center; font-size:40px; color: #1b1b1b; margin-top:40px;">Почему клиенты выбирают нас?</h2><br><br>
            <div class="row row-cols-1 row-cols-md-2 g-4">
              <div class="col">
                <div class="card">
                  <div class="card-body">
                    <h5 class="card-title">Огромный выбор</h5>
                    <p class="card-text">Tezbilet сравнивает тысячи предложений от 725 авикомпаний мира, 45 агентств и 5 систем бронирования.</p>
                  </div>
                </div>
              </div>
              <div class="col">
                <div class="card">

                  <div class="card-body">
                    <h5 class="card-title">Надежный и бесплатный поиск</h5>
                    <p class="card-text">При выборе авиарейса, мы бесплатно направляем вас, к нашим проверенным партнёрам, которые продают билеты.</p>
                  </div>
                </div>
              </div>
              <div class="col">
                <div class="card">

                  <div class="card-body">
                    <h5 class="card-title">Онлайн-покупка авиабилетов — быстро и просто</h5>
                    <p class="card-text">У нас вы можете в пару кликов забронировать авиабилеты.</p>
                  </div>
                </div>
              </div>
              <div class="col">
                <div class="card">
                  <div class="card-body">
                    <h5 class="card-title">Никаких сборов или наценок</h5>
                    <p class="card-text">Цена, которую вы видите в результатах поисках именно та, которую вы будете платить.</p>
                  </div>
                </div>
              </div>
            </div>
        </div>
    </div>

{% endblock %}