{% extends 'layout.html' %}
{% block body %}

    <div class="container">
        <header  class="py-5 bg-primary border-bottom mb-4">
            <div  class="container">
                <div class="text-center my-5">
                    <h1 style="color:white;" class="fw-bolder">Добро пожаловать на главную страницу блога!</h1>
                    <p style="color:white; font-weight: bold;" class="lead mb-0">Все интересные статьи и факты здесь</p>
                </div>
            </div>
        </header>
    </div>


    <div class="row row-cols-1 row-cols-md-3 g-4">
        {% if articles %}
            {% for article in articles %}
                <div class="card">
                <div class="article__thumbnail article__item">
                  <img class="article__thumbnail__img" src="{{ article.article_image_thumbnail.url }}"/>
                </div>

                    <div class="card-body">
                        <a href="/articles/article/{{ article.id }}"><h5 class="card-title">{{ article.title }}</h5></a>
                        <p class="card-text">{{  article.content|safe|truncatewords:10  }}</p>
                    </div>
                    <div class="card-body d-flex flex-column">
                        <a style="center" href="{% url 'article:detail' article.id %}" class="btn btn-primary">Читать далее</a>
                    </div>
                </div>
        {% endfor %}
        {% else %}
        <div class="col-md-10 offset-md-3">
                    <div class="col-lg-8">
                        <div class="aler alert-danger">Пока нет статей</div>
                    </div>
                </div>
        {% endif %}
        </center>
    </div>


                
{% endblock %}