{% extends 'layout.html' %}
{% block body %}

    <div class="container">
    <br><h1 style="color:red;" class="fw-bolder"><center>Поиск дешёвых авиабилетов</center></h1><br><br>
        <p>
            <script async src="https://tp.media/content?currency=rub&trs=36605&shmarker=120716&show_hotels=true&powered_by=true&locale=ru&searchUrl=www.aviasales.ru%2Fsearch&primary_override=%2332a8dd&color_button=%2332a8dd&color_icons=%2332a8dd&dark=%23262626&light=%23FFFFFF&secondary=%23FFFFFF&special=%23C4C4C4&color_focused=%2332a8dd&border_radius=0&plain=false&promo_id=7879&campaign_id=100" charset="utf-8"></script>
        </p><br><br><br>
    
        <div class="text-center my-5">
            <h2 class="fw-bolder">Очень интересные статьи и факты </h2>
        </div>
    </div>



<div class="container">
    <section id="article">
    <div class="row row-cols-1 row-cols-md-3 g-4">
        {% if articles %}
            {% for article in articles %}
                <div class="card">
                    <div class="article__thumbnail article__item">
                    <img class="article__thumbnail__img" src="{{ article.article_image_thumbnail.url }}"/>
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">{{ article.title }}</h5>
                        <p class="card-text">{{  article.content|safe|truncatewords:10  }}</p>
                    </div>
                    <div class="card-body d-flex flex-column">
                            <a style="center" href="{% url 'article:detail' article.id %}" class="btn btn-primary">Читать далее</a>
                        </div>
                </div>
        {% endfor %}
        {% else %}
            <div class="col-md-10 offset-md-3">
                    <div class="col-lg-8">
                        <div class="aler alert-danger">Пока нет статей</div>
                    </div>
                </div>
        {% endif %}
            </center>
    </div>
    </section>
</div>
    
    
 {% endblock %}





        
