{% extends 'layout.html' %}
{% block body %}

    <div class="container-fluid">
        <p>
        <script charset="utf-8" type="text/javascript" src="//www.tezbilet.kg/iframe.js"></script> 
        </p>
    
        <div class="text-center my-5">
            <h2 style="color:red;" class="fw-bolder">Блог: все интересные факты и статьи здесь!</h2>
        </div>
    </div>



<div class="container">
    <section id="article">
    <div class="row row-cols-1 row-cols-md-3 g-4">
        {% if articles %}
            {% for article in articles %}
                <div class="card">
                    <div class="article__thumbnail article__item">
                    <img class="article__thumbnail__img" src="{{ article.article_image_thumbnail.url }}"/>
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">{{ article.title }}</h5>
                        <p class="card-text">{{  article.content|safe|truncatewords:10  }}</p>
                    </div>
                    <div class="card-body d-flex flex-column">
                            <a style="center" href="{% url 'article:detail' article.id %}" class="btn btn-primary">Читать далее</a>
                        </div>
                </div>
        {% endfor %}
        {% else %}
            <div class="col-md-10 offset-md-3">
                    <div class="col-lg-8">
                        <div class="aler alert-danger">Пока нет статей</div>
                    </div>
                </div>
        {% endif %}
            </center>
    </div>
    </section>
</div>
    
    
 {% endblock %}





        
