{% extends 'layout.html' %}
{% block title %} | Политика возврата {% endblock %}
{% block body %}
<div class="container">
    <div  style="background-color: #f3f5f7;">
        <h3 style="margin-top:50px; text-align:center; margin-bottom:50px;">Возврат авиабилетов</h3>
        <div style = "margin-bottom:50px; padding-left: 120px; padding-right: 120px; font-size:20px; font-family:sans-serif;">
            <p style="line-height:30px; margin-top:40px;">Tezbilet.kg не продаёт билеты, а ищет где их купить дешевле. Бронированием и продажей авиабилетов занимаются наши партнеры.</p>
            <p>Для того, чтобы сделать возврат авиабилета или его перебронировать, Вам
                необходимо связаться с агентством, у которого Вы заказали авиаперелёт.</p>
            <p>Найдите агента, у которого бронировали билет и созвонитесь с ним.
                Назовите имя и фамилию, даты маршрута и направление. Оператор найдет
                вашу бронь и поможет решить Вашу задачу.</p>
        </div>
    </div>
</div>

{% endblock %}